#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

li span {
  display: flex;
  align-items: center;
}

li .delete {
  margin-left: 6px;
  color: #f07c8f;
}

.delete:hover {
  cursor: pointer;
}

.li-arrow {
  margin: 8px;
}

.select {
  /* display:block; */
  width: 70px;
  height: 40px;
  margin: 2px;
}

.select {
  /* display:block; */
  width: 10%;
  height: 40px;
  margin: 2px;
}

/* .calculated-hours-list {
  overflow: hidden
} */
